.brand-logo {
    max-width: 120px;
}



.profile {
    border-bottom:1px solid $light-gray;
    padding-bottom:1rem;


    &__portrait {
        background-image: url("../img/image-banner.png");
        background-size: cover;
        background-position: center center;
        min-height: 300px;
        width: 100%;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        &__img {
            max-width: 80px;
            height:80px;
            border-radius: 50%;
        }

        &__name {
            margin-left:1rem;
        }
    }

    &__button {

    }
}