// COLORS
$sea-blue: #92dce5;
$salmon-orange: #ef6461;
$night-black: #071013;
$sun-white:#fff;
$quick-silver:#a2a2a2;
$light-gray:#f2f2f2;

// FUENTES
$lato:'Lato', sans-serif;

// PESOS
$light:300;
$regular:400;
$bold:700;
$black:900;

// TAMAÑOS DE FUENTE
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;